{
columns: {
'Name': 'B',
'LegacyUid' : 'C',
'Age': 'D',
'Gender': 'E',
'Education': 'F',
'MaritalStatus' : 'G',
'Email': 'H',
'Mobile': 'I',
'EmploymentStatus' : 'J',
'WorkExperience' : 'K',
'ParentName' :'L',
'FamilyIncome' : 'M',
'PresentAddress' : 'N',
'PermanentAddress' : 'O',
'ParentMobileNumber' : 'P',
'TrainingCentre' : 'Q',
'BatchNumber' : 'R',
'Location' : 'S',
'BatchStart' : 'U',
'BatchEnd' : 'V',
'EmploymentStatus' : 'W',
'Position' : 'X',
'Company': 'Y',
'CompanyLocation': 'Z',
'Salary': 'AA',
'StillEmployed': 'AB',
},
numberOfBufferRecords : 10,
headerRow: 5,
categoryRowIndex: 4,
subjectRowIndex: 5,
dataRowStart: 6,
skipColumns: ['Course Total', '%', 'CGPA', 'Total'],
columnStartIndex: 29,
studentIdColumn: 'C'
}
