{
columns: {
'FirstName': 'B',
'LastName' : 'C',
'Oraganisation' : 'D',
'TrainingCentre' : 'E',
'BatchNumber' : 'F',
'Prefix' : 'G',
'StudentId': 'H',
'Gender': 'I',
'Mobile': 'J',
'Education' : 'K',
'MaritalStatus': 'L',
'Email': 'M',
'Age' : 'N',
'WorkExperience' : 'O',
'ParentName' :'P',
'ParentContact' : 'Q',
'Address' : 'R',
'FamilyIncome' : 'S',
'ParentOccupation' : 'T',
'State' : 'U',
'BatchStart' : 'V',
'BatchEnd' : 'W',
'EmploymentStatus' : 'X',
'Designation' : 'Y',
'Company': 'Z',
'CompanyLocation': 'AA',
'JobType': 'AB',
'Salary': 'AC',
'ContinueEducation': 'AD',
'DropOutReason': 'AE',
'UpdatedContactDetail': 'AF',
'ContinueJob':'AG',
'PostCompany' : 'AH',
'PostDesignation' : 'AI',
'PostSalary' : 'AJ',
'PostUpdatedContact' : 'AK',


},
headerRow: 5,
categoryRowIndex: 4,
subjectRowIndex: 5,
dataRowStart: 6,
skipColumns: ['Course Total', '%', 'CGPA', 'Total'],
columnStartIndex: 29,
studentIdColumn: 'C'
}
