{
columns: {
'StudentId': 'C',
'Prefix' : 'E',
'EnglishAss34' : 'F',
'EnglishAss33' : 'Y',
'EnglishAss32' : 'AA',
'EnglishAss31' : 'AJ',
'EnglishAss30' : 'AL',
'EnglishAss24' : 'AP',
'EnglishAss23' : 'AQ ',
'EnglishAss22' : 'AR',
'EnglishAss21' : 'AS',
'EnglishAss20' : 'AT',
'EnglishAss19' : 'AU',
'EnglishAss17' : 'AV',
'EnglishAss16' : 'AW ',
'EnglishAss18' : 'AX',
'EnglishAss15' : 'AY',
'EnglishAss14' : 'AZ',
'EnglishAss13' : 'BA',
'EnglishAss12' : 'BB',
'EnglishAss11' : 'BC ',
'EnglishAss10' : 'BD',
'EnglishAss25' : 'BE',
'EnglishAss26' : 'BF',
'EnglishAss9' : 'BJ',
'EnglishAss8' : 'BK',
'EnglishAss7' : 'BL ',
'EnglishAss6' : 'BM',
'EnglishAss5' : 'BN',
'EnglishAss4' : 'B0',
'EnglishAss3' : 'BP ',
'EnglishAss2' : 'BQ',
'EnglishAss1' : 'BR',
'EnglishAss29' : 'BS',
'EnglishAss28' : 'BT ',
'EnglishAss27' : 'BU',
'CourseTotal_ES2S' : 'BV',








'Gender': 'E',
'Mobile': 'F',
'Education' : 'G',
'MaritalStatus': 'H',
'Email': 'I',
'Age' : 'J',
'WorkExperience' : 'K',
'ParentName' :'L',
'ParentContact' : 'M',
'Address' : 'N',
'FamilyIncome' : 'O',
'TrainingCentre' : 'P',
'Location' : 'Q',
'State' : 'R',
'BatchStart' : 'S',
'BatchEnd' : 'T',
'EmploymentStatus' : 'U',
'Designation' : 'V',
'Company': 'W',
'CompanyLocation': 'X',
'JobType': 'Y',
'Salary': 'Z',
'ContinueEducation': 'AA',
'DropOutReason': 'AB',
'UpdatedContactDetail': 'AC',
'StatusAfter':'AD',
'PostCompany' : 'AE',
'PostDesignation' : 'AF',
'PostSalary' : 'AG',
'PostUpdatedContact' : 'AH',


},
headerRow: 5,
categoryRowIndex: 4,
subjectRowIndex: 5,
dataRowStart: 8,
skipColumns: ['Course Total', '%', 'CGPA', 'Total'],
columnStartIndex: 29,
studentIdColumn: 'C'
}
