{
columns: {
'FirstName': 'B',
'LastName' : 'C',
'StudentId': 'D',
'Gender': 'E',
'Mobile': 'F',
'Education' : 'G',
'MaritalStatus': 'H',
'Email': 'I',
'Age' : 'J',
'WorkExperience' : 'K',
'ParentName' :'L',
'ParentContact' : 'M',
'Address' : 'N',
'FamilyIncome' : 'O',
'TrainingCentre' : 'P',
'Location' : 'Q',
'State' : 'R',
'BatchStart' : 'S',
'BatchEnd' : 'T',
'EmploymentStatus' : 'U',
'Designation' : 'V',
'Company': 'W',
'CompanyLocation': 'X',
'JobType': 'Y',
'Salary': 'Z',
'ContinueEducation': 'AA',
'DropOutReason': 'AB',
'UpdatedContactDetail': 'AC',
},
headerRow: 5,
categoryRowIndex: 4,
subjectRowIndex: 5,
dataRowStart: 7,
skipColumns: ['Course Total', '%', 'CGPA', 'Total'],
columnStartIndex: 29,
studentIdColumn: 'C'
}
