{
configurations: [
{
file: 'StudentProfile',
columns: {
'Name': 'B',
'Uid' : 'C',
'Age': 'D',
'Gender': 'E',
'Education': 'F',
'Email': 'G',
'Mobile': 'H',
'EmploymentStatus' : 'I',
'TrainingCentre' : 'J',
'BatchNumber' : 'K',
'Location' : 'L',
'State' : 'M',
'Demographics' : 'N',
'FamilyIncome' : 'O',
'PresentAddress' : 'P',
'PermanentAddress' : 'Q',
'ParentName' :'R',
'ParentMobileNumber' : 'S',
},
numberOfBufferRecords : 10,
headerRow: 5,
dataRowStart: 6
},
{
file: 'Incremental',
columns: {
'CourseCompletionStatus' : 'H',
'EmploymentStatus' : 'M',
'Position': 'I',
'OfferLetter': 'K',
'Salary': 'L',
'Company': 'J',
'Comments' : 'N'
},
skipColumns: ['Course Total', '%', 'CGPA' ],
headerRow: 5,
dataRowStart: 6,
headerRow: 2,
dataRowStart: 4,
columnStartIndex: 15,
studentIdColumn: 'C'
}
]
}