{
configurations: [
{
file: 'Profile',
columns: {
'Name': 'B',
'Uid' : 'C',
'Age': 'D',
'Gender': 'E',
'Education': 'F',
--'MaritalStatus' : 'G'
'Email': 'H',
'Mobile': 'I',
'EmploymentStatus' : 'J',
'WorkExperience' : 'K',
'ParentName' :'L',
'FamilyIncome' : 'M',
'PresentAddress' : 'N',
'PermanentAddress' : 'O',
'ParentMobileNumber' : 'P',
'TrainingCentre' : 'Q',
'BatchNumber' : 'R',
'Location' : 'S',
'BatchStart' : 'U',
'BatchEnd' : 'V',
},
numberOfBufferRecords : 10,
headerRow: 5,
dataRowStart: 6
},
{
file: 'Scores',
columns: {

},
skipColumns: ['Course Total', '%', 'CGPA', 'Total'],
categoryRowIndex: 4,
subjectRowIndex: 5,
dataRowStart: 6,
columnStartIndex: 29,
studentIdColumn: 'C'
}
]
}